{% extends "base.html" %}

{% block content %}
    <div class="column">
        {% for following in user.profile.follows.all %}
            {% for trot in following.user.trots.all %}
                <div class="box">
                    {{ trot.body }}
                    <span class="is-small has-text-grey-light">
                        {{ trot.created_at }} by {{ trot.user.username }}
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
    </div> 

    <div class="column is-one-third">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="button is-success is-fullwidth is-medium mt-5"
                type="submit">post
        </button>
        </form>
    </div>
{% endblock %}